.btn-outline-secondary:hover {
    color: #6e757c;
    background-color: #fff; /* new color goes her */
    border-color: #6e757c;
}

.btn-outline-info:hover {
    color: #5bc0de;
    background-color: #fff; /* new color goes her */
    border-color: #5bc0de;
}

.btn-mini {
    font-size: 0.7em;
}


