/* SI FAS CANVIS I NO VAN, PROVA CMD+SHIFT+R AL NAVEGADOR */

.btn {
    white-space:normal; /* Evita overflow del text (permet salt de línia) */
}

.btn-outline-secondary:hover {
    color: #6e757c;
    background-color: #fff; /* new color goes her */
    border-color: #6e757c;
}

.btn-outline-info:hover {
    color: #5bc0de;
    background-color: #fff; /* new color goes her */
    border-color: #5bc0de;
}

.btn-mini {
    font-size: 0.7em;
}

.heighter {
    min-height: 1000px;
}

.alert-thin {
  margin-bottom: 1px;
  /*height: 30px;
  line-height:30px;*/
  padding:5px 15px;
}

.line-height-sm {
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    line-height: 1rem;
}

.link-a-la-web:hover:after {
    content: " - Altres recursos..."
}


/* popover */
.popover {
    background: rgb(245, 241, 211);
}

.bs-popover-top .arrow:after {
    border-top-color: rgb(245, 241, 211);
}

.bs-popover-bottom .arrow:after {
    border-bottom-color: rgb(245, 241, 211);
}

.bs-popover-right .arrow:after {
    border-right-color: rgb(245, 241, 211);
}

.bs-popover-left .arrow:after {
    border-left-color: rgb(245, 241, 211);
}