# coses de caché del pythonAnywhere (deixo la carpeta però buido)
*.pyc


#fitxers ocults (.coses)
.*
!.gitignore

# carpetes i coses irrellevants
*.pdf
!exemple.pdf
/dynamicdeures

# token del bot de Telegram
teletoken.py

# docs antics que substituien el control de versions pffajjaj
equacions2
combinades2
provaforms
formulari
ddzip.zip

# coses de la versió local
