{#
 # Formulari d'opcions per l'exercici POWSQR_SQR_INTRODUEIX
 #    Introduir factors a dins l'arrel
 #}

{% with title="Introduir factors", name="POWSQR_SQR_INTRODUEIX", info="$5^2\\sqrt[3]{7}=\\sqrt[3]{7\\cdot 5^6}$" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with name="tipus", labels=["123", "abc"] %}
        {% include '/parts/triaquines.html' %}
    {% endwith %}

    {% with title="Només arrel quadrada?", name="sense_index" %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}