{#
 # Formulari d'opcions per l'exercici POWSQR_POW_MATEIXAFRACCIO
 #    Combinar potències que tenen la mateixa fracció (o la seva inversa) com a base
 #}

{% with title="Mateixa base amb fraccions", name="POWSQR_POW_MATEIXAFRACCIO",
        info="$(\\frac{5}{2})^3\\cdot (\\frac{5}{2})^7 = (\\frac{5}{2})^{10}$" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with title="Evitar invertides?", name="sense_invertides", triat=1 %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}