{#
 # Formulari d'opcions per l'exercici POWSQR_POW_MATEIXABASE
 #    Combinar potències amb la mateixa base
 #}

{% with title="Mateixa base", name="POWSQR_POW_MATEIXABASE" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with title="Quants termes?", name="termes", labels=[2, 3, 4, 5],
            altnames=[2, 3, 4, 5], triats=[1, 2] %}
        {% include '/parts/triaquines.html' %}
    {% endwith %}

    {% with title="Evitar divisions?", name="sense_divisions" %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}