{#
 # Formulari d'opcions per l'exercici POWSQR_SQR_RACIONALITZA
 #    Extreure factors de dins l'arrel
 #}

{% with title="Racionalitzar", name="POWSQR_SQR_RACIONALITZA",
        info="$\\frac{1}{\\sqrt{5}}=\\frac{1}{\\sqrt{5}}\\cdot \\frac{\\sqrt{5}}{\\sqrt{5}} = \\frac{\\sqrt{5}}{5}$" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with name="tipus", labels=["√a", "√a+b"], altnames=[0, 1] %}
        {% include '/parts/triaquines.html' %}
    {% endwith %}

    {% with title="Només arrel quadrada?", name="sense_index", triat=1 %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}

    {% with title="Evitar doble arrel?", name="sense_doble", triat=1 %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}