{#
 # Formulari d'opcions per l'exercici POWSQR_POW_FACTORITZAISIMPLIFICA
 #    Simplificar una fracció feta de números enters multiplicats.
 #}

{% with title="Factoritzar i simplificar", name="POWSQR_POW_FACTORITZAISIMPLIFICA",
        info="$\\frac{5\\cdot 42}{28\\cdot 6}=\\frac{2\\cdot 3\\cdot 5\\cdot 7}{2^3\\cdot 3\\cdot 7}= \\frac{5}{2^2}$"%}
  {% include '/parts/quantes.html' %}
{% endwith %}

    {% with title="Sense exponents?", name="sense_exponents", triat=3 %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}