{#
 # Formulari d'opcions per l'exercici PX_IDNOT_IDENTITAT
 #    Desenvolupar identitats notables.
 #}

{% with title="Calcular la identitat", name="PX_IDNOT_IDENTITAT",
        info="$(x-3)^2 \\Rightarrow x^2-6x+9$" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with name="tipus", labels=["(a+b)²", "(a-b)²", "(a+b)(a-b)"] %}
        {% include '/parts/triaquines.html' %}
    {% endwith %}

    {% with title="Una sola variable?", name="una_variable" %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}
