{#
 # Formulari d'opcions per l'exercici PX_IDNOT_ENDEVINAIDENTITAT
 #    Endevinar identitats notables a partir de la forma desenvolupada.
 #}

{% with title="Endevinar la identitat", name="PX_IDNOT_ENDEVINAIDENTITAT",
        info="$x^2-6x+9 \\Rightarrow (x-3)^2$" %}
    {% include '/parts/quantes.html' %}
{% endwith %}

    {% with name="tipus", labels=["(a+b)²", "(a-b)²", "(a+b)(a-b)"] %}
        {% include '/parts/triaquines.html' %}
    {% endwith %}

    {% with title="Una sola variable?", name="una_variable" %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}

    {% with title="Forçar ordenat?", name="ordenat", triat=1 %}
        {% include '/parts/quantesvariant.html' %}
    {% endwith %}

    {% with title="...què vol dir ordenat?", name="ordre", labels=["a²+2ab+b²", "a²+b²+2ab"], subordina=true %}
        {% include 'parts/triauna.html' %}
    {% endwith %}
