{# title és el títol de la opció #}
{# name és el nom de la variable (e.g. "taula" crearà els valors "taula1", "taula2", "taula3", ...) #}
{# labels són els textos de la llista de botons que generaré #}
{# triats és una llista del les opcions actives (comença per 1; si no n'hi ha ho activa tot; [0] per apagar tot) #}
{# altnames és una llista per si vull personalitzar els noms de variable en lloc de fer-ho seqüencial #}

{% set name = name|default("varname", true) %}

{% set tema = ns.tema|default("tema", true) %}
{% set apartat = apartat|default("apartat", true) %}

{% set exercici = ns.exercici|default("exercici", true) %}

{% set ch = "checked" %}
<div class="form-group mb-0 ml-4">
    <div class="container-fluid pl-0">
      <div class="row no-gutters">

        <div class="col-sm-auto">
            <label><i>{{ title|default("Triar quins tipus?", true) }}</i></label>
        </div>
        <div class="col">
            <div class="btn-group-toggle ml-1" data-toggle="buttons">
                {% for b in labels|default(["Opció 1", "Opció 2"], true) %}
                    {% set activa = not triats|default("", true) or loop.index in triats %}
                    {% set nom = loop.index|string if not altnames|default("", true) else altnames[loop.index0] %}
                    <label class="btn btn-sm btn-outline-info py-0 btn-mini {{'ml-2' if not loop.index0}} {{'active' if activa}}">
                      <input type="checkbox" name="temes[{{tema}}][{{apartat}}][{{exercici}}][var][{{name}}][{{nom}}]" autocomplete="off" id="{{exercici}}-{{name}}-{{nom}}" value="{{nom}}" {{ch if activa}}> {{b}}
                    </label>
                {% endfor %}
            </div>
        </div>

      </div>
    </div>
</div>