<!doctype html>
<html>
    <head>
        <!-- boostrap stuff -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- bs -->
        <title>Dynamic Deures: Generador de Fitxes de Mates</title>
        <!-- mathjax stuff -->
        <script>
        MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
        </script>
        <script id="MathJax-script" async
          src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
        </script>
        <!-- mj -->
        <link rel="stylesheet" link href="/static/styles/mystyle.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">Dynamic Deures</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/com">Codi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/canvis">Canvis</a>
              </li>
            </ul>
            <span class="navbar-text">
              Rusca 2020
            </span>
          </div>
        </nav>
        <div class="pt-3">
            <div>
                <h1 class="text-center">Dynamic Deures: Generador de Fitxes de Mates</h1>
                <h3 class="text-center">Cortesia de David Ruscalleda</h3>
                <!--  passa'l a sota per treure l'avís
                <div class="alert alert-warning ml-4 mr-4" role="alert">Ei. Estic fent proves en aquests moments. Si us falla alguna cosa és normal! (espereu una mica i ja en trauré l'entrellat)</div>
                -->
            </div>
            <hr>
            <div class="pl-3">
                {% block content %}{% endblock %}
            </div>
        </div>
        <!-- boostrap stuff -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- bs -->
    </body>
    {% block js %}{% endblock %}
</html>