{% extends "base.html" %}
{% block navbarcanvis %}active{% endblock %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6"> <!-- primera columna -->
            <div class="card mb-2">
                <div class="card-body">
                    <h4>Historial de canvis</h4>
                    <b>25 Febrer 2021</b>
                    <ul>
                        <li>Ajustos de mida i quantitats a operacions amb més xifres.</li>
                    </ul>
                    <b>22 Febrer 2021</b>
                    <ul>
                        <li>Canvio el sistema de feedback a asíncron (per millorar la velocitat).</li>
                    </ul>
                    <b>13 Febrer 2021</b>
                    <ul>
                        <li>Implemento sistemes d'equacions no lineals.</li>
                    </ul>
                    <b>26 Gener 2021</b>
                    <ul>
                        <li>Implemento feedback extra per assabentar-me'n al moment quan hi ha errors.</li>
                        <li>Afegeixo info dels errors corregits (i millores d'estil de les alertes).</li>
                        <li>Corregit bug que feia fallar el pdf d'enters si marcaves no a les sumes.</li>
                    </ul>
                    <b>20 Gener 2021</b>
                    <ul>
                        <li>Corregit el problema (era el càlcul que evita den=1 a les sumes).</li>
                    </ul>
                    <b>19 Gener 2021</b>
                    <ul>
                        <li>Investigo problema amb les respostes de f.combi que no sempre dónen.</li>
                    </ul>
                    <b>18 Gener 2021</b>
                    <ul>
                        <li>Faig més petits els números de les solucions (f.combi).</li>
                        <li>Afegeixo solucions a les fraccions combinades.</li>
                    </ul>
                    <b>17 Gener 2021</b>
                    <ul>
                        <li>Implementades les arrels i quadrats de fraccions combinades.</li>
                    </ul>
                    <b>16 Gener 2021</b>
                    <ul>
                        <li>Corregit bug que feia suma incorrecta a les fraccions combinades.</li>
                    </ul>
                    <b>15 Gener 2021</b>
                    <ul>
                        <li>Continuo l'algorisme de paràmetre en divisions de polinomis.</li>
                    </ul>
                    <b>14 Gener 2021</b>
                    <ul>
                        <li>Primeres proves de paràmetre tal que P(x)/Q(x) sigui exacta.</li>
                        <li>Correccions en el sistema que evita SCI als sistemes 2d.</li>
                    </ul>
                    <b>13 Gener 2021</b>
                    <ul>
                        <li>Control de repetits per les incompletes de segon grau.</li>
                        <li>Opció per evitar arrels negatives</li>
                    </ul>
                    <b>2 Gener 2021</b>
                    <ul>
                        <li>Ajustos a les divisions de polinomis (no les desordenava mai).</li>
                        <li>Ajustos de quantitats per la fitxa de polinomis.</li>
                        <li>Implementat un exercici normal d'extreure factor comú.</li>
                        <li>Ajustos en el sistema de salts de línia de les solucions.</li>
                    </ul>
                    <b>1 Gener 2021</b>
                    <ul>
                        <li>Implementat l'exercici de desxifrar fent factor comú.</li>
                    </ul>
                    <b>31 Desembre 2020</b>
                    <ul>
                        <li>Primeres proves amb l'exercici de desxifrar fent factor comú.</li>
                    </ul>
                    <b>29 Desembre 2020</b>
                    <ul>
                        <li>Implementat el LaTeX dels exercicis de polinomis (pendent d'ajustar).</li>
                        <li>Implementat el formulari dels exercicis de polinomis.</li>
                        <li>Algorismes per factoritzar polinomis i simplificar algebraiques.</li>
                        <li>Enunciats d'exercicis Tª del residu i avaluar.</li>
                        <li>Ampliació dels algorismes d'operacions amb polinomis.</li>
                    </ul>
                    <b>28 Desembre 2020</b>
                    <ul>
                        <li>Primeres proves amb els l'algorismes generadors de polinomis.</li>
                    </ul>
                    <b>25 Desembre 2020</b>
                    <ul>
                        <li>Evito que els salts de línia de la solució trenquin apartats (<code>~</code>).</li>
                        <li>Solucions pels exercicis no trivials d'equacions (excepte les racionals).</li>
                        <li>Amplio l'algorisme d'equacions per desar també les solucions.</li>
                    </ul>
                    <b>18 Desembre 2020</b>
                    <ul>
                        <li>Implemento una pàgina de donacions.</li>
                        <li>Afegeixo solucions de les operacions combinades amb enters.</li>
                        <li>Primeres proves per incloure solucions dels exercicis.</li>
                        <li>Implementats salts de pàgina automàtics a tots els pdf.</li>
                    </ul>
                    <b>17 Desembre 2020</b>
                    <ul>
                        <li>Implemento salts de pàgina automàtics al pdf d'equacions.</li>
                        <li>Primeres proves amb els salts de pàgina automàtics de <code>\needspace</code>.</li>
                        <li>Afegeixo avís que les coses no es queden a l'enllaç.</li>
                    </ul>
                    <b>26 Novembre 2020</b>
                    <ul>
                        <li>Afegida pàgina de notació científica.</li>
                    </ul>
                    <b>25 Novembre 2020</b>
                    <ul>
                        <li>Primeres proves amb notació científica.</li>
                    </ul>
                    <b>19 Novembre 2020</b>
                    <ul>
                        <li>Afegeixo els exemples de racionals i fracció generatriu.</li>
                        <li>Incorporo l'exercici de fracció generatriu a la plana de fraccions.</li>
                    </ul>
                    <b>18 Novembre 2020</b>
                    <ul>
                        <li>Afegeixo generador de números decimals (exactes, mixtos i purs).</li>
                    </ul>
                    <b>17 Novembre 2020</b>
                    <ul>
                        <li>Afegeixo equacions racionals de primer grau (i exemples).</li>
                    </ul>
                    <b>16 Novembre 2020</b>
                    <ul>
                        <li>Faig una plana pels pdf i la trec perquè no va bé amb la memòria cau.</li>
                        <li>Afegits els exercicis d'equacions lineals opera i resol.</li>
                    </ul>
                    <b>15 Novembre 2020</b>
                    <ul>
                        <li>Implementat algorisme d'equacions opera i resol (primer grau).</li>
                        <li>Reordeno una mica la plana d'arrels.</li>
                    </ul>
                    <b>12 Novembre 2020</b>
                    <ul>
                        <li>Primeres proves amb exercicis de gasos (química 3ESO).</li>
                    </ul>
                    <b>16 Octubre 2020</b>
                    <ul>
                        <li>Implementada primera pàgina de límits (indeterminacions a l'infinit).</li>
                    </ul>
                    <b>12 Octubre 2020</b>
                    <ul>
                        <li>Retoco les divisions de combinades d'enters per facilitar el càlcul mental.</li>
                        <li>Afegits exemples d'arrels a la pàgina d'inici.</li>
                        <li>Corregit bug a que feia fallar si només posaves potències a la fitxa.</li>
                        <li>Afegit introduir factors dins les arrels.</li>
                    </ul>
                    <b>11 Octubre 2020</b>
                    <ul>
                        <li>Afegits exercicis d'arrels (extreure factors, sumes, racionalitzar...).</li>
                    </ul>
                    <b>5 Octubre 2020</b>
                    <ul>
                        <li>Afegits enllaços a Wolfram Alpha amb la solució de les derivades.</li>
                    </ul>
                    <b>3 Octubre 2020</b>
                    <ul>
                        <li>Finalment aconsegueixo generar límits de fraccions inf-inf.</li>
                    </ul>
                    <b>2 Octubre 2020</b>
                    <ul>
                        <li>Segueixo amb el generador de límits (investigant fraccions inf-inf).</li>
                    </ul>
                    <b>1 Octubre 2020</b>
                    <ul>
                        <li>Primeres proves amb límits.</li>
                    </ul>
                    <b>30 Setembre 2020</b>
                    <ul>
                        <li>Enllaç bit.ly sota la barra de dalt.</li>
                        <li>Algunes millores a les mides de les derivades.</li>
                        <li>Afegeixo els exemples de fraccions a l'índex</li>
                        <li>Ajustos al generador de fraccions</li>
                    </ul>
                    <b>29 Setembre 2020</b>
                    <ul>
                        <li>Implementada pàgina de fraccions.</li>
                    </ul>
                    <b>28 Setembre 2020</b>
                    <ul>
                        <li>Primeres proves amb fraccions.</li>
                    </ul>
                    <b>25 Setembre 2020</b>
                    <ul>
                        <li>Afegeixo fraccions de números amb decimals a potències i arrels.</li>
                    </ul>
                    <b>24 Setembre 2020</b>
                    <ul>
                        <li>Afegeixo fraccions per factotitzar i simplificar a potències i arrels.</li>
                        <li>Afegeixo fraccions de primers a la plana de potències i arrels.</li>
                    </ul>
                    <b>23 Setembre 2020</b>
                    <ul>
                        <li>Afegits exemples d'equacions de segon grau per operar i resoldre.</li>
                        <li>Implementats els botons per forçar variants (combinades i equacions).</li>
                        <li>Afegeixo arrels i potències a les operacions combinades.</li>
                    </ul>
                    <b>22 Setembre 2020</b>
                    <ul>
                        <li>Afegeixo operacions combinades a la plana d'enters.</li>
                    </ul>
                    <b>21 Setembre 2020</b>
                    <ul>
                        <li>Implementada pàgina de potències i arrels</li>
                    </ul>
                    <b>20 Setembre 2020</b>
                    <ul>
                        <li>Petits canvis (solució parcial) a l'àncora dels exemples aleatoris.</li>
                        <li>Implementada pàgina de derivades</li>
                    </ul>
                    <b>18 Setembre 2020</b>
                    <ul>
                        <li>Afegeixo equacions de segon grau d'operar i resoldre.</li>
                    </ul>
                    <b>16 Setembre 2020</b>
                    <ul>
                        <li>Corregeixo bug que feia b=0 en equacions completes de segon grau.</li>
                    </ul>
                    <b>15 Juny 2020</b>
                    <ul>
                        <li>Pàgina de contacte.</li>
                    </ul>
                    <b>26 Maig 2020</b>
                    <ul>
                        <li>Petit panell de novetats a l'inici.</li>
                        <li>Implementada tria de taules per multiplicacions i divisions.</li>
                        <li>Implementats exemples de successions.</li>
                        <li>Successions ampliades per incloure geomètriques.</li>
                    </ul>
                    <b>25 Maig 2020</b>
                    <ul>
                        <li>Incorporades successions aritmètiques al generador LaTeX.</li>
                        <li>Formulari per fer fitxes de successions aritmètiques.</li>
                    </ul>
                    <b>22 Maig 2020</b>
                    <ul>
                        <li>Tancant els enunciats de successions.</li>
                    </ul>
                    <b>18 Maig 2020</b>
                    <ul>
                        <li>Més proves amb successions: geomètriques.</li>
                    </ul>
                    <b>15 Maig 2020</b>
                    <ul>
                        <li>Primeres proves amb successions aritmètiques.</li>
                    </ul>
                    <b>11 Maig 2020</b>
                    <ul>
                        <li>Implementats exemples per les equacions de segon grau.</li>
                        <li>Implementades equacions de segon grau.</li>
                    </ul>
                    <b>8 Abril 2020</b>
                    <ul>
                        <li>Implementada la possibilitat de generar exemples nous.</li>
                        <li>Actualitzada la plana "Com l'has fet?" (que ara es diu "Codi")</li>
                        <li>Millores a la barra de navegació.</li>
                        <li>Redissenyada la pàgina principal.</li>
                        <li>Implementada previsualització dels temes a través de MathJax.</li>
                    </ul>
                    <b>7 Abril 2020</b>
                    <ul>
                        <li>Primeres proves amb MathJax per mostrar equacions al web.</li>
                    </ul>
                    <b>5 Abril 2020</b>
                    <ul>
                        <li>Implementat control de versions a través de <a href="https://github.com/Rusca8/DynamicDeures">GitHub</a>.</li>
                        <li>Investigació de GitHub pel control de versions.</li>
                    </ul>
                    <b>2 Abril 2020</b>
                    <ul>
                        <li>Afegida inversa (simple) a la pàgina de proporcionalitat.</li>
                    </ul>
                    <b>29 Març 2020</b>
                    <ul>
                        <li>Ampliació dels tipus d'exercici de proporcionalitat inversa</li>
                    </ul>
                    <b>28 Març 2020</b>
                    <ul>
                        <li>Primeres proves amb proporcionalitat inversa.</li>
                    </ul>
                    <b>26 Març 2020</b>
                    <ul>
                        <li>Afegida la pàgina de proporcionalitat (només simple directa).</li>
                        <li>Incorporació de la proporcionalitat al generador LaTeX.</li>
                        <li>Primeres proves generant de problemes de proporcionalitat.</li>
                        <li>Recopilació de tipus d'enunciat de problemes de proporcionalitat.</li>
                    </ul>
                    <b>21 Març 2020</b>
                    <ul>
                        <li>Afegida la pàgina d'operacions amb més xifres.</li>
                        <li>Botons de quantitat de dígits per operacions amb més xifres.</li>
                    </ul>
                    <b>20 Març 2020</b>
                    <ul>
                        <li>Primera versió utilitzable de la pàgina d'operacions amb més xifres.</li>
                        <li>Incorporació de les operacions apilades al generador.</li>
                        <li>Primer esbós de la pàgina d'operacions apilades.</li>
                        <li>Primeres proves amb operacions apilades.</li>
                        <li>Recerca d'alternatives a xlop que no portin solució.</li>
                        <li>Recerca del paquet xlop per operacions apilades.</li>
                    </ul>
                    <b>19 Març 2020</b>
                    <ul>
                        <li>Afegit sistemes lineals 3D a la pàgina d'equacions.</li>
                        <li>Afegit sistemes lineals a la pàgina d'equacions.</li>
                        <li>Aquesta pàgina, amb canvis i coses per fer.</li>
                        <li>Feedback d'ús a través de Telegram (m'avisa quan es genera un pdf).</li>
                        <li>Investigació de les sessions Flask i els uuid.</li>
                    </ul>
                    <b>18 Març 2020</b>
                    <ul>
                        <li>Primeres proves generant sistemes d'equacions.</li>
                        <li>Recull de sugerències de tipus de problema per instagram.</li>
                        <li>Pàgina explicant com està fet</li>
                        <li>Incorporació de la barra de navegació en Bootstrap</li>
                        <li>Implementació de la personalització a PyLaTeX (només quantitats).</li>
                        <li>Últimes correccions dels elements dinàmics del formulari.</li>
                        <li>Investigació de les funcions onclick i onchange de javascript.</li>
                    </ul>
                    <b>17 Març 2020</b>
                    <ul>
                        <li>Formulari avançat per personalitzar els exercicis d'enters.</li>
                        <li>Primeres proves amb el sistema collapse de Bootstrap.</li>
                    </ul>
                    <b>16 Març 2020</b>
                    <ul>
                        <li>Primera versió del pdf d'operacions amb enters</li>
                        <li>Pàgina bàsica per crear operacions amb enters.</li>
                        <li>Funció per generar operacions amb enters a l'script python.</li>
                        <li>Pàgina d'inici separada de la d'equacions.</li>
                    </ul>
                    <b>15 Març 2020</b>
                    <ul>
                        <li>Primer pdf utilitzable (equacions senzilles).</li>
                        <li>Execució del generador d'equacions des de PyLaTeX.</li>
                        <li>Script python per generar equacions de primer grau per nivells.</li>
                        <li>Plantilla bàsica pel pdf (marges, capçaleres, peu de pàgina...).</li>
                        <li>Investigació de com adaptar a PyLaTeX les comandes LaTeX no incloses.</li>
                        <li>Exploració a fons dels elements de l'estructura "examen" de LaTeX.</li>
                    </ul>
                    <b>14 Març 2020</b>
                    <ul>
                        <li>Primeres proves de passar informació de Flask a PyLaTeX.</li>
                        <li>Accés a la informació dels formularis des de Flask.</li>
                        <li>Primeres proves amb l'estil, botons i formularis de Bootstrap.</li>
                        <li>Primeres proves amb la inheritància d'html a Flask: capçalera comú a la web.</li>
                        <li>Configuració dels documents estàtics de Flask per poder mostrar a la web el pdf generat.</li>
                        <li>Execució de l'script de PyLaTeX des de Flask.</li>
                        <li>Estructura bàsica de la web app en Flask.</li>
                        <li>Primeres proves de PyLaTeX des de scripts.</li>
                        <li>Investigacions prèvies (exploració de les opcions de com fer-ho).</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6"> <!-- segona columna -->
            <div class="card bg-light mb-4">
                <div class="card-body">
                    <h4>Temes pendents</h4>
                    <ul>
                        <li>Divisions amb més xifres</li>
                        <li>Sistemes d'equacions</li>
                        <ul>
                            <li>Lineals</li>
                                <ul>
                                    <li>Matrius 3D</li>
                                </ul>
                            <li>No lineals</li>
                        </ul>
                        <li>Equacions</li>
                        <ul>
                            <li>Biquadrades</li>
                            <li>Irracionals</li>
                            <li>Exponencials</li>
                            <li>Logarítmiques</li>
                            <li>Problemes?</li>
                        </ul>
                        <li>Geometria 2D</li>
                        <li>Límits</li>
                        <li>Operacions amb radicals i potències</li>
                        <ul>
                            <li>Introduir i extreure factors amb fraccions</li>
                        </ul>
                        <li>Proporcionalitat i %</li>
                        <ul>
                            <li>Problemes</li>
                            <ul>
                                <li>Composta</li>
                            </ul>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="card bg-light">
                <div class="card-body">
                    <h4>Coses pendents</h4>
                    <ul>
                        <li>Opció de no mostrar els punts de les preguntes</li>
                        <li>Ajustar millor les puntuacions dels exercicis.</li>
                        <li>Triar si vols espai per resoldre (amb les que en gasten molt, com sist3D)</li>
                        <li>Ampliar el ventall d'exercicis amb solució.</li>
                        <li>Sessions de Flask per evitar col·lisions entre usuaris.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}