{% extends "base.html" %}
{% block content %}
<h2>Com l'has fet?</h2>
<p>Dynamic Deures és una web app feta amb <b>Flask</b>, que corre sobre un virtualenv de python3 a <b>PythonAnywhere</b>.<br>
L'estructura de les pàgines està feta amb <b>HTML</b>.<br>
L'estil principalment l'he agafat de <b>Bootstrap</b>, tot i que he canviat alguna coseta amb <b>CSS</b>.<br>
Les coses interactives que no són botons (p.ex. activar l'avís de pdf generat) funcionen amb <b>javascript</b>.<br>
Els pdf estan fets amb <b>LaTeX</b> (que és com el Word dels científics)<br>
I els genero programant en <b>python</b> mitjançant la llibreria <b>PyLaTeX</b>.</p><br>
<h4>I no t'has tornat boig?</h4>
<p>Sí, la veritat.<br><br>
Quan vaig començar sabia python, una mica d'html i css, i poc javascript.<br>
Sí que havia vist el flask des de la distància (he fet bots de Telegram que hi viuen), però ni l'entenia ni el remenava.<br>
També havia escrit equacions en LaTeX, però no sabia res sobre fer documents sencers, i encara menys amb PyLaTeX<br>
I ni sabia què és el Bootstrap.<br><br>
...vaja, que la gran majoria del que he fet em venia de nou i ho he hagut d'aprendre quasi de zero.
<br>
Per sort aquests dies de confinament tinc moolt de temps lliure per investigar i remenar. :) </p>
{% endblock %}