{% extends "base.html" %}
{% block navbarcontacte %}active{% endblock %}
{% block content %}
<div class="card mr-3 ml-2">
    <div class="card-body">
        <h5 class="card-title">Tens propostes? Preguntes? ...alguna cosa no funciona?</h5>
        Volia fer un formulari d'aquells de les webs que no saps si són cutres o pràctics,<br>
        però resulta que és un embolic tot el tema d'enviar-m'ho com un correu a mi mateix,<br>
        així que us deixo un correu de contacte i ja està ¯\_(ツ)_/¯<br><br>
        <a class="btn btn-outline-primary" href="mailto:dynamicdeures@gmail.com" role="button">dynamicdeures@gmail.com</a>
    </div>
</div>
{% endblock %}

