{% extends "formulari.html" %}
{% block alertatop %}
<div class="alert alert-info alert-sm" role="alert">De moment en aquesta pàgina només fan alguna cosa les quantitats (els botons en gris)</div>
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa d'Equacions...</h4>
    <div class="form-group">
        <label for="formGroupExampleInput">En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="formQuinsTipus">Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opEq1" aria-expanded="true" aria-controls="opEq1">
          <input type="checkbox" name="primer" autocomplete="off" id="primer" value="Primer grau" checked> Primer grau
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opEq2" aria-expanded="true" aria-controls="opEq2">
          <input type="checkbox" name="segon" autocomplete="off" id="segon" value="Segon grau" checked> Segon grau
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opSist" aria-expanded="true" aria-controls="opSist">
          <input type="checkbox" name="sistemes" autocomplete="off" id="div" value="Sistemes" checked> Sistemes
        </label>
        <label class="btn btn-sm btn-outline-secondary" data-toggle="collapse" href="#opSist3" aria-expanded="false" aria-controls="opSist">
          <input type="checkbox" name="sistemes3" autocomplete="off" id="div" value="Sistemes 3D"> Sistemes 3D
        </label>
    </div>
  </div>
{% endblock %}

{% block extres %}
<div class="collapse show" id="opEq1">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Equacions de primer grau</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupSimplesQuantes"><b>Simples sense dividir</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qsimples" id="qs2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsimples" id="qs6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qsimples" id="qs9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupSimplesDivQuantes"><b>Simples divisió entera</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qdsimples" id="qds2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdsimples" id="qds6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qdsimples" id="qps9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formDivNegativa"><i>Forçar coeficient positiu?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noneg" id="noneg0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noneg" id="noneg1" value="poques" autocomplete="off"> les primeres
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                <input type="radio" name="noneg" id="noneg2" value="meitat" autocomplete="off" checked> la meitat
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noneg" id="noneg3" value="moltes" autocomplete="off"> la majoria
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noneg" id="noneg4" value="totes" autocomplete="off"> totes
              </label>
            </div>
        </div>

      </div>
    </div>
</div>


<div class="collapse show mt-1" id="opEq2">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Equacions de segon grau</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupInciompQuantes"><b>Incompletes</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qincomps" id="qi2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qincomps" id="qi6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qincomps" id="qi9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupSimplesDivQuantes"><b>Simples completes</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qcompletes" id="qc2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qcompletes" id="qc6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qcompletes" id="qc9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formNoA"><i>Forçar coeficient A unitari?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noa" id="noa0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noa" id="noa1" value="poques" autocomplete="off"> les primeres
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                <input type="radio" name="noa" id="noa2" value="meitat" autocomplete="off" checked> la meitat
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noa" id="noa3" value="moltes" autocomplete="off"> la majoria
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="noa" id="noa4" value="totes" autocomplete="off"> totes
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupPolinomic"><b>Polinòmiques</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qpolis" id="poli2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qpolis" id="poli6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qpolis" id="poli9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>


<div class="collapse show mt-1" id="opSist">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sistemes de dues incògnites</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupSistemesQuants"><b>Lineals</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qs0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qsi1" value="poques" autocomplete="off"> pocs
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qsist" id="qsi2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qsi3" value="moltes" autocomplete="off"> molts
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qsi4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qsi5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist" id="qsi6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qsist" id="qsi9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formDivNegativa"><i>Forçar un coeficient unitat?</i></label> <!-- si força les primeres del forçat són x -->
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef" id="nocoef0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef" id="nocoef1" value="poques" autocomplete="off"> les primeres
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                <input type="radio" name="nocoef" id="nocoef2" value="meitat" autocomplete="off" checked> la meitat
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef" id="nocoef3" value="moltes" autocomplete="off"> la majoria
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef" id="nocoef4" value="totes" autocomplete="off"> totes
              </label>
            </div>
        </div>

      </div>
    </div>
</div>

<div class="collapse mt-1" id="opSist3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Sistemes de tres incògnites</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupSistemes3Quants"><b>Lineals</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qs30" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qsi31" value="poques" autocomplete="off"> pocs
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qsist3" id="qsi32" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qsi33" value="moltes" autocomplete="off"> molts
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qsi34" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qsi35" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qsist3" id="qsi36" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qsist3" id="qsi39" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formDivNegativa"><i>Forçar un coeficient unitat?</i></label> <!-- si força les primeres del forçat són x -->
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef3" id="nocoef30" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef3" id="nocoef31" value="poques" autocomplete="off"> les primeres
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef3" id="nocoef32" value="meitat" autocomplete="off"> la meitat
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                <input type="radio" name="nocoef3" id="nocoef33" value="moltes" autocomplete="off" checked> la majoria
              </label>
              <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                <input type="radio" name="nocoef3" id="nocoef34" value="totes" autocomplete="off"> totes
              </label>
            </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}