{% extends "formulari.html" %}
{% block alertatop %}
<div class="alert alert-info alert-sm py-1 mb-2" role="alert">
    <small><b>Nou:</b> Quantitats exactes (botó #), triar puntuacions dels exercicis i posar solucions al final.</small>
</div>
{% endblock %}

{% set temafitxa = "eq" %}
{% block titolfitxa %}Fitxa {{ nom_tema(temafitxa, prep=true) }}{% endblock %}

{% block principals %}
    <input type="hidden" name="temafitxa" value="{{temafitxa}}" />  <!-- Tema de la fitxa (pel títol i tal) -->
    {% set ns.tema = "eq" %}  <!-- Tema dels exercicis (podria canviar a mitja fitxa) -->

    <!-- Tria CURS -->
    {% with amaga = true %}
        {% include '/parts/triacurs.html' %}
    {% endwith %}

    <!-- Tria APARTATS -->
    {% with apartats = ["base", "primer", "segon", "sistemes", "sistemes3"],
            desmarcats = ["base", "sistemes3"] %}
        {% include '/parts/triaapartats.html' %}
    {% endwith %}

    <!-- Toggle PUNTUACIONS -->
    {% include '/parts/togglepuntuacions.html' %}
    <hr>
    <!-- Tria SOLUCIONS -->
    {% include '/parts/solucions.html' %}

{% endblock %}
{% block extres %}

    {% with apartat = "base",
            exercicis = [
                'eq_base_identitatoequacio',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "primer",
            exercicis = [
                'eq_primer_simplesnodividir',
                'eq_primer_simplesentera',
                'eq_primer_operairesol',
                'eq_primer_denominadors',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "segon",
            exercicis = [
                'eq_segon_incompletes',
                'eq_segon_completes',
                'eq_segon_operairesol',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "sistemes",
            exercicis = [
                'eq_sistemes_linealsgrafic',
                'eq_sistemes_lineals',
                'eq_sistemes_nolineals',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "sistemes3",
            exercicis = [
                'eq_sistemes3_lineals',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

{% endblock %}
{% block jsextra %}
    <script>
        //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
    </script>
{% endblock %}