{% extends "base.html" %}
{% block assignatura %} Mates {% endblock %}
{% block content %}

<!-- formulari -->
<div class="heighter">
    <form action="#" target="_blank" method="post" id="formulari">

        <div class="container-fluid"> <!-- columnes -->
          <div id="generat"></div>
            <div class="card mb-2 py-0">
                <div class="card-body py-1">
                    <i><small>Si crees una fitxa que t'agrada, descarrega-la! <span class="text-secondary">(el proper cop que obris l'enllaç potser ja no hi serà...)</span></small></i>
                </div>
            </div>
          {% block alertatop %}{% endblock %}
          <div class="row">
            <div class="col-sm-auto mb-2">
                <div class="card">
                  <div class="card-body">
                    {% block principals %}{% endblock %}
                    <br>
                    <button type="submit" class="btn btn-{% block gencolor %}primary{% endblock %}" onclick="pdfgenerat();">Genera!</button>
                  </div>
                </div>
            </div>
            <div class="col">
                {% block extres %}{% endblock %}
            </div>
          </div>
        </div>

    </form>
</div>
{% endblock %}
{% block js %}
    <script>
        function pdfgenerat(){
            curs = document.getElementById('formulari').elements['curs'].value;
            //sumes = document.getElementById('formulari').elements['curs'].value;
            //console.log(sumes)

            document.getElementById('generat').innerHTML = "S'han generat exercicis de " + curs;
            document.getElementById('generat').className = "alert alert-success";
        };
    </script>
    {% block jsextra %}
    {% endblock %}
{% endblock %}