{% extends "base.html" %}
{% block content %}
<p>Benvinguda al generador automàtic de fitxes de matemàtiques que se m'ha acudit intentar fer!</p>
<p>Escull un tema i ens inventarem la fitxa.</p>
<p><a class="btn btn-primary" href="/equacions/" role="button">Fitxes d'Equacions</a> <i>(Eqns de primer grau senzilles i sistemes lineals 2D i 3D)</i></p>
<p><a class="btn btn-primary" href="/enters/" role="button">Fitxes d'Operacions amb Enters</a> <i>(Suma, resta, multiplicació i divisió de dos enters)</i></p>
<p><a class="btn btn-primary" href="/apilades/" role="button">Fitxes d'Operacions amb Més Xifres</a> <i>(Sumes, restes, i multiplicacions; apilades)</i></p>
<p><a class="btn btn-primary" href="/proporcionalitat/" role="button">Fitxes de Proporcionalitat</a> <i>(Problemes de proporcionalitat simple directa)</i></p>
{% endblock %}