{% extends "formulari.html" %}
{% block alertatop %}
<div class="alert alert-info alert-sm py-1 mb-2" role="alert">
    <small><b>Nou:</b> Quantitats exactes (botó #), triar puntuacions dels exercicis, posar solucions al final, i triar la frase amagada!</small>
</div>
{% endblock %}

{% set temafitxa = "px" %}
{% block titolfitxa %}Fitxa de {{ nom_tema(temafitxa, prep=true) }}{% endblock %}

{% block principals %}
    <input type="hidden" name="temafitxa" value="{{temafitxa}}" />  <!-- Tema de la fitxa (pel títol i tal) -->
    {% set ns.tema = "px" %}  <!-- Tema dels exercicis (podria canviar a mitja fitxa) -->

    <!-- Tria CURS -->
    {% with amaga = true %}
        {% include '/parts/triacurs.html' %}
    {% endwith %}

    <!-- Tria APARTATS -->
    {% with apartats = ["base", "idnot", "ops", "algeb"] %}
        {% include '/parts/triaapartats.html' %}
    {% endwith %}

    <!-- Toggle PUNTUACIONS -->
    {% include '/parts/togglepuntuacions.html' %}
    <hr>
    <!-- Tria SOLUCIONS -->
    {% include '/parts/solucions.html' %}

{% endblock %}
{% block extres %}

    {% with apartat = "base",
            exercicis = [
                'px_base_partsmonomi',
                'px_base_inventa',
                'px_base_avalua',
                'px_base_factorcomu',
                'px_base_desxifra',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "idnot",
            exercicis = [
                'px_idnot_identitat',
                'px_idnot_endevinaidentitat',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "ops",
            exercicis = [
                'px_ops_suma',
                'px_ops_resta',
                'px_ops_multiplica',
                'px_ops_divideixruffini',
                'px_ops_divideix',
                'px_ops_teoremaresidu',
                'px_ops_parametreresidu',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "algeb",
            exercicis = [
                'px_algeb_factoritza',
                'px_algeb_simplifica',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

{% endblock %}
{% block jsextra %}
    <script>
        //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
    </script>
{% endblock %}