{% extends "formulari.html" %}
{% block alertatop %}
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa de Polinomis...</h4>
    <div class="form-group">
        <label>En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label>Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opBase" aria-expanded="true" aria-controls="opBase">
          <input type="checkbox" name="base" autocomplete="off" id="base" value="base" checked> Base
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opID" aria-expanded="true" aria-controls="opID">
          <input type="checkbox" name="idnot" autocomplete="off" id="idnot" value="idnot" checked> Id. Notables ✨
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opOps" aria-expanded="true" aria-controls="opOps">
          <input type="checkbox" name="ops" autocomplete="off" id="ops" value="ops" checked> Operar Polinomis
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opAlgs" aria-expanded="true" aria-controls="opAlgs">
          <input type="checkbox" name="alges" autocomplete="off" id="alges" value="ops" checked> Algebraiques
        </label>
    </div>
  </div>
  <br>
  <hr>

  <div class="form-group mb-0">
    <label class="mb-0"><i>Incloure les solucions? (encara no les fa totes)</i></label>
      <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
          <label class="btn btn-outline-info btn-sm py-0 btn-mini">
            <input type="radio" name="solucions" id="solus1" value="no" autocomplete="off"> no
          </label>
          <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
            <input type="radio" name="solucions" id="solus2" value="sí" autocomplete="off" checked> sí
          </label>
      </div>
  </div>
{% endblock %}

{% block extres %}
    {% set text = ["no", "poques", "normal", "moltes", "mitja", "plana", "doble"] %}
    {% set textvar = ["no", "les primeres", "la meitat", "la majoria", "totes"] %}
    {% set textvarv = ["no", "poques", "meitat", "moltes", "totes"] %}
<div class="collapse show mb-2" id="opBase">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Base</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Parts d'un monomi</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qmonomi" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Inventar polinomis</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qinvent" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Avaluar en un punt</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qaval" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Extreure factor comú</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qfcomu" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Una sola variable?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fc1var" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Desxifra el missatge (fc)</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qcryp" %}
              {% if n == 1 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - ID NOTABLES - - - - - - - - - - - - - - - - - - - - -->

<div class="collapse show mb-2" id="opID">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Identitats Notables</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Calcular la identitat</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qidnot" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Una sola variable?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "id1var" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Endevinar la identitat</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qeidnot" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Una sola variable?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "eid1var" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenat?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "eidord" %}
              {% for n in range(5) %}
                {% if n == 1 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

      </div>
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - OPERAR - - - - - - - - - - - - - - - - - - - - -->

<div class="collapse show mb-2" id="opOps">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Operar amb polinomis</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Sumar</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qsumes" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenats?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fosumes" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Restar</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qrestes" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenats?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "forestes" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Multiplicar</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qmultis" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenats?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fomultis" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Divisions per Ruffini</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qrufis" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenats?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "forufis" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Divisions (genèric)</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qdivis" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Forçar ordenats?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fodivis" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Teorema del residu</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qresidu" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - ALGEBRAIQUES - - - - - - - - - - - - - - - - - - - - -->

<div class="collapse show mb-2" id="opAlgs">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Fraccions Algebraiques</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Factoritzar polinomis</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qfactor" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label><i>Evitar constant?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fnok" %}
              {% for n in range(5) %}
                {% if n == 2 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Simplificar algebraiques</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qalgeb" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}