{% extends "formulari.html" %}
{% block alertatop %}
<div class="alert alert-info alert-sm py-1 mb-2" role="alert">
    <small><b>Nou:</b> Quantitats exactes (botó #) i triar puntuacions. Exercicis de conceptes bàsics. Mateixa base amb fraccions.</small>
</div>
{% endblock %}

{% set temafitxa = "powsqr" %}
{% block titolfitxa %}Fitxa {{ nom_tema(temafitxa, prep=true) }}{% endblock %}

{% block principals %}
    <input type="hidden" name="temafitxa" value="{{temafitxa}}" />  <!-- Tema de la fitxa (pel títol i tal) -->
    {% set ns.tema = "powsqr" %}  <!-- Tema dels exercicis (podria canviar a mitja fitxa) -->

    <!-- Tria CURS -->
    {% with amaga = true %}
        {% include '/parts/triacurs.html' %}
    {% endwith %}

    <!-- Tria APARTATS -->
    {% with apartats = ["bpow", "pow", "bsqr", "sqr"] %}
        {% include '/parts/triaapartats.html' %}
    {% endwith %}

    <!-- Toggle PUNTUACIONS -->
    {% include '/parts/togglepuntuacions.html' %}
    <hr>
    <!-- Tria SOLUCIONS -->
    {% include '/parts/solucions.html' %}


{% endblock %}
{% block extres %}

    {% with apartat = "bpow",
            exercicis = [
                'powsqr_bpow_combina',
                'powsqr_bpow_signeparitat'
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "pow",
            exercicis = [
                'powsqr_pow_mateixexponent',
                'powsqr_pow_mateixabase',
                'powsqr_pow_mateixafraccio',
                'powsqr_pow_simplificafraccio',
                'powsqr_pow_factoritzaisimplifica',
                'powsqr_pow_factoritzadecimals',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}


    {% with apartat = "bsqr",
            exercicis = [
                'powsqr_bsqr_simplifica',
                'powsqr_bsqr_arrelapotencia'
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

    {% with apartat = "sqr",
            exercicis = [
                'powsqr_sqr_indexcomu',
                'powsqr_sqr_introdueix',
                'powsqr_sqr_extreu',
                'powsqr_sqr_combina',
                'powsqr_sqr_factoritzaiextreu',
                'powsqr_sqr_sumairesta',
                'powsqr_sqr_racionalitza',
                ] %}
        {% include '/parts/apartat.html' %}
    {% endwith %}

{% endblock %}
{% block jsextra %}
    <script>
        //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
    </script>
{% endblock %}