{% extends "formulari.html" %}
{% block alertatop %}
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa de Potències i Arrels...</h4>
    <div class="form-group">
        <label for="formGroupExampleInput">En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="formQuinsTipus">Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opPot" aria-expanded="true" aria-controls="opPot">
          <input type="checkbox" name="pot" autocomplete="off" id="pot" value="pot" checked> Potències
        </label>
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opSqrt" aria-expanded="true" aria-controls="opSqrt">
          <input type="checkbox" name="sqrt" autocomplete="off" id="sqrt" value="sqrt" checked> Arrels
        </label>
    </div>
  </div>
{% endblock %}

{% block extres %}
    {% set text = ["no", "poques", "normal", "moltes", "mitja", "plana", "doble"] %}
    {% set textvar = ["no", "les primeres", "la meitat", "la majoria", "totes"] %}
    {% set textvarv = ["no", "poques", "meitat", "moltes", "totes"] %}
<div class="collapse show mb-2" id="opPot">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Potències</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupMateixExponent"><b>Mateix exponent</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qmexp" id="qme2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qmexp" id="qme6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qmexp" id="qme9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <div class="container-fluid pl-0">
              <div class="row no-gutters">
                <div class="col-sm-auto">
                    <label for="formGroupMExpTermes"><i>Quants termes?</i></label>
                </div>
                <div class="col">
                    <div class="btn-group-toggle ml-3" data-toggle="buttons">
                        {% for n in range(2, 4) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                              <input type="checkbox" name="metermes{{n}}" autocomplete="off" id="metermes{{n}}" value="metermes{{n}}" checked> {{n}}
                            </label>
                        {% endfor %}
                        {% for n in range(4, 6) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini">
                              <input type="checkbox" name="metermes{{n}}" autocomplete="off" id="metermes{{n}}" value="metermes{{n}}"> {{n}}
                            </label>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupDerivadesMulDiv"><b>Mateixa base</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qmbase" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <div class="container-fluid pl-0">
              <div class="row no-gutters">
                <div class="col-sm-auto">
                    <label for="formGroupMBaseTermes"><i>Quants termes?</i></label>
                </div>
                <div class="col">
                    <div class="btn-group-toggle ml-3" data-toggle="buttons">
                        {% for n in range(2, 4) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                              <input type="checkbox" name="mbtermes{{n}}" autocomplete="off" id="mbtermes{{n}}" value="mbtermes{{n}}" checked> {{n}}
                            </label>
                        {% endfor %}
                        {% for n in range(4, 6) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini">
                              <input type="checkbox" name="mbtermes{{n}}" autocomplete="off" id="mbtermes{{n}}" value="mbtermes{{n}}"> {{n}}
                            </label>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupFraccióPrimers"><b>Simplificar fracció ✨</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qfrac" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formResultatPositiu"><i>Forçar mateixa base?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fmbase" %}
              {% for n in range(5) %}
                {% if n == 1 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupFraccióFactoritzar"><b>Factoritzar i simplificar ✨</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qffrac" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formResultatPositiu"><i>Sense exponents?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "fsexp" %}
              {% for n in range(5) %}
                {% if n == 1 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupFraccióFactoritzar"><b>Fact. i simp. amb decimals ✨</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% for n in range(7) %}
              {% set name = "qdfrac" %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>

<!-- - - - - - - - - - - - - - - - - - - - ARRELS - - - - - - - - - - - - - - - - - - - - -->

<div class="collapse show mb-2" id="opSqrt">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Arrels</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupDerivadesSimples"><b>Fer índex comú</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qarrels" id="qa2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qarrels" id="qa6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qarrels" id="qa9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>


        <div class="form-group mb-1 ml-4">
            <div class="container-fluid pl-0">
              <div class="row no-gutters">
                <div class="col-sm-auto">
                    <label for="formGroupMBaseTermes"><i>Quants termes?</i></label>
                </div>
                <div class="col">
                    <div class="btn-group-toggle ml-3" data-toggle="buttons">
                        {% for n in range(2, 4) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                              <input type="checkbox" name="atermes{{n}}" autocomplete="off" id="atermes{{n}}" value="atermes{{n}}" checked> {{n}}
                            </label>
                        {% endfor %}
                        {% for n in range(4, 5) %}
                            <label class="btn btn-sm btn-outline-info py-0 btn-mini">
                              <input type="checkbox" name="atermes{{n}}" autocomplete="off" id="atermes{{n}}" value="atermes{{n}}"> {{n}}
                            </label>
                        {% endfor %}
                    </div>
                </div>
              </div>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <label for="formResultatPositiu"><i>Sense exponents?</i></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "asexp" %}
              {% for n in range(5) %}
                {% if n == 1 %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}1" value="{{textvarv[n]}}" autocomplete="off" checked> {{textvar[n]}}
                {% else %}
                  <label class="btn btn-outline-info btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}0" value="{{textvarv[n]}}" autocomplete="off"> {{textvar[n]}}
                {% endif %}
                  </label>
              {% endfor %}
            </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}