{% extends "formulari.html" %}
{% block alertatop %}
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa de Proporcionalitat...</h4>
    <div class="form-group">
        <label for="formGroupExampleInput">En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="formQuinsTipus">Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opSimp" aria-expanded="true" aria-controls="opSimp">
          <input type="checkbox" name="simple" autocomplete="off" id="simple" value="Simple" checked> Simple
        </label>
        <label class="btn btn-sm btn-outline-secondary disabled" data-toggle="collapse" href="#opComp" aria-expanded="true" aria-controls="opComp">
          <input type="checkbox" name="composta" autocomplete="off" id="composta" value="Composta" disabled> Composta
        </label>

    </div>
  </div>
{% endblock %}

{% block extres %}
<div class="collapse show" id="opSimp">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Proporcionalitat simple</h5>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupDirectesQuantes"><b>Problemes de directa</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qdirectes" id="qd2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qdirectes" id="qd6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qdirectes" id="qd9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupInversesQuantes"><b>Problemes d'inversa</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qinverses" id="qi2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qinverses" id="qi6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qinverses" id="qi9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label for="formGroupBarrejatQuantes"><b>Problemes barrejats</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb0" value="no" autocomplete="off"> no
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb1" value="poques" autocomplete="off"> poques
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                <input type="radio" name="qbarrejades" id="qb2" value="normal" autocomplete="off" checked> normal
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb3" value="moltes" autocomplete="off"> moltes
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb4" value="mitja" autocomplete="off"> mitja
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb5" value="plana" autocomplete="off"> plana
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                <input type="radio" name="qbarrejades" id="qb6" value="doble" autocomplete="off"> doble
              </label>
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="qbarrejades" id="qb9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}