{% extends "formulari.html" %}
{% block assignatura %} Química {% endblock %}
{% block alertatop %}
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa de Formulació...</h4>
    <div class="form-group">
        <label for="formGroupExampleInput">En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="formQuinsTipus">Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opInorg">
          <input type="checkbox" name="inorg" autocomplete="off" id="inorg" value="inorg" checked> Inorgànica
        </label>
        <label class="btn btn-sm btn-outline-secondary disabled" data-toggle="collapse" href="#opOrg" aria-expanded="true" aria-controls="opOrg">
          <input type="checkbox" name="org" autocomplete="off" id="org" value="org" disabled> Orgànica
        </label>

    </div>
  </div>

<br>
<hr>
<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text">Model</label>
  </div>
  <select class="custom-select custom-select-sm" name="estil">
    <option value="general" selected>Genèric</option>
    <option value="salle">Salle Girona 3ESO</option>
  </select>
</div>
{% endblock %}

{% block extres %}
    {% set text = ["no", "poques", "normal", "moltes", "mitja", "plana", "doble"] %}
    {% set textvar = ["no", "les primeres", "la meitat", "la majoria", "totes"] %}
    {% set textvarv = ["no", "poques", "meitat", "moltes", "totes"] %}
<div class="collapse show" id="opInorg">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Formulació Inorgànica</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Ions i substàncies simples</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qsimples" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Binaris d'hidrogen</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qhidrurs" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Òxids</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qoxids" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Sals binàries</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qsbin" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Hidròxids</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qhidroxids" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <hr>

        <div class="form-group mb-0 ml-2">
            <label><b>Barreja</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qbarreja" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-1 ml-4">
            <div class="container-fluid pl-0"> <!-- columnes -->
              <div class="row no-gutters">

                <div class="col-sm-auto">
                    <label for="formGroupFuncions"><i>Quines?</i></label>
                </div>
                <div class="col">
                    <div class="btn-group-toggle ml-2" data-toggle="buttons">
                        <label class="btn btn-sm btn-outline-info py-0 btn-mini ml-4 active">
                          <input type="checkbox" name="barr0" autocomplete="off" id="barr0" value="barr0" checked> Simples
                        </label>
                        <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                          <input type="checkbox" name="barr1" autocomplete="off" id="barr1" value="barr1" checked> Òxids
                        </label>
                        <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                          <input type="checkbox" name="barr2" autocomplete="off" id="barr2" value="barr2" checked> Hidrogen
                        </label>
                        <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                          <input type="checkbox" name="barr3" autocomplete="off" id="barr3" value="barr3" checked> Binàries
                        </label>
                        <label class="btn btn-sm btn-outline-info py-0 btn-mini active">
                          <input type="checkbox" name="barr4" autocomplete="off" id="barr4" value="barr4" checked> Hidròxids
                        </label>
                    </div>
                </div>
              </div>
            </div>
         </div>

      </div>
    </div>
</div>
{% endblock %}
{% block gencolor %}success{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}