{% extends "formulari.html" %}
{% block assignatura %} Química {% endblock %}
{% block alertatop %}
{% endblock %}
{% block principals %}
    <h4 id="titolTema">Fitxa de Formulació...</h4>
    <div class="form-group">
        <label for="formGroupExampleInput">En quin curs estàs pensant?</label><br>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso1" value="1r d'ESO" autocomplete="off" disabled> 1ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso2" value="2n d'ESO" autocomplete="off" disabled> 2ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso3" value="3r d'ESO" autocomplete="off" disabled> 3ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="eso4" value="4t d'ESO" autocomplete="off" disabled> 4ESO
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="batc" value="Batxillerat Científic" autocomplete="off" disabled> BAT-C
          </label>
          <label class="btn btn-outline-secondary disabled">
            <input type="radio" name="curs" id="bats" value="Batxillerat Social" autocomplete="off" disabled> BAT-S
          </label>
          <label class="btn btn-outline-secondary active">
            <input type="radio" name="curs" id="pers" value="Dificultat al Gust" autocomplete="off" checked> Personalitza
          </label>
        </div>
    </div>

  <div class="form-group">
    <label for="formQuinsTipus">Quins tipus d'exercici vols?</label><br>
    <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-sm btn-outline-secondary active" data-toggle="collapse" href="#opInorg">
          <input type="checkbox" name="inorg" autocomplete="off" id="inorg" value="inorg" checked> Inorgànica
        </label>
        <label class="btn btn-sm btn-outline-secondary disabled" data-toggle="collapse" href="#opOrg" aria-expanded="true" aria-controls="opOrg">
          <input type="checkbox" name="org" autocomplete="off" id="org" value="org" disabled> Orgànica
        </label>

    </div>
  </div>
{% endblock %}

{% block extres %}
    {% set text = ["no", "poques", "normal", "moltes", "mitja", "plana", "doble"] %}
    {% set textvar = ["no", "les primeres", "la meitat", "la majoria", "totes"] %}
    {% set textvarv = ["no", "poques", "meitat", "moltes", "totes"] %}
<div class="collapse show" id="opInorg">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Formulació Inorgànica</h5>

        <div class="form-group mb-0 ml-2">
            <label><b>Ions i substàncies simples</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qsimples" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Hidrurs</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qhidrurs" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Òxids</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qoxids" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Sals binàries</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qsbin" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

        <div class="form-group mb-0 ml-2">
            <label><b>Hidròxids</b></label>
            <div class="btn-group btn-group-toggle ml-2" data-toggle="buttons">
              {% set name = "qhidroxids" %}
              {% for n in range(7) %}
              {% if n == 2 %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini active">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off" checked> {{ text[n] }}
              {% else %}
                <label class="btn btn-outline-secondary btn-sm py-0 btn-mini">
                    <input type="radio" name="{{name}}" id="{{name}}{{n}}" value="{{text[n]}}" autocomplete="off"> {{ text[n] }}
              {% endif %}
              </label>
              {% endfor %}
              <label class="btn btn-outline-secondary btn-sm py-0 btn-mini disabled">
                <input type="radio" name="{{name}}" id="{{name}}9" value="tria" autocomplete="off" disabled> tria
              </label>
            </div>
        </div>

      </div>
    </div>
</div>
{% endblock %}
{% block gencolor %}success{% endblock %}
{% block jsextra %}
<script>
    //amb inputs millor onchange (onclick no funciona). Si s'empana i igualment no va, refrescar hard la web amb Cmd+Shift+R
</script>
{% endblock %}